<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron">
    
    <h2>Welcome to Crown Photography</h2>

    <p class="lead">
     Premium Access to the Best Photos
    </p>
  </div>

  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
       
        <br></br>
        <h2>Membership Plan</h2>
        <div class="price pull-right">
          Price: $10 / Month
        </div>
        <div class="features">
          <ul>
            <li>Basic Membership</li>
            <li>Full Photoshoots</li>
            <li>View Private Gallery 24/7</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
      <div class="col-lg-3 plan">
        <br></br>
        <h2>VIP Plan</h2>
        <div class="price pull-right">
          Price: $50 / Month
        </div>
        <div class="features">
          <ul>
            <li>VIP Membership</li>
            <li>Private Shoots</li>
            <li>Highest Quality Resolution</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
        
      </div>
    </div>
  </div>
<% end %>